
h2,h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
p {
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 1.2rem;
}
.content-wrapper {
    width: min(90%, 100rem);
    height: 100%;
    display: flex;
    flex-direction: row;
}
.show-book-page {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

    /* --clr-primary-200: green
    --ff-primary: 'Roboto' , sans-serif;
    --ff-accent: 'Playfair Display' , serif; */

.body{
    font-weight: 400;
    font-family: var(--ff-primary);
    font-size: 1.3125rem;
    line-height: 1;
}

.static-book-preview {
    height: 100%;
    width: 40%;
    margin: 0;
    position: sticky;
}

.scrollable-content-container {
    width: min(60%, 50rem);
}
.scrollable-content-container h2 {
    font-size: 1.8rem;
}
.scrollable-content-container h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: gray;
}


.nice-space {
    padding: 3rem ;
    padding-bottom: 0;
}
.show-book-container {
  
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 1rem;
  align-self: flex-end;
}
.show-book-cover {
    position: absolute;
  right: 3rem;
  top:2.3rem;
  width: 13rem;
  height: 19.5rem;
  border-top-right-radius: .7rem;
  border-bottom-right-radius: .7rem;
}

.show-book-rating {
   
    width: 13.5rem;
    margin-top: 1.5rem;
    height: min(5%,6rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.star {
    width: 2.2rem;
    height: 2.2rem;
}

.book-page-description {
    margin-top: 2rem;
    
}

.book-page-categories {
    height: fit-content;
    width: 100%;
    font-family: Times, "Times New Roman", Georgia, serif;
}
.book-page-publish-date {
    margin-top: 0;
    font-family: Times, "Times New Roman", Georgia, serif;
}


